pyyaml==6.0.3
pillow==12.2.0
tomli==2.4.1
soundfile==0.14.0
numpy==2.2.6
matplotlib==3.10.9
scipy==1.15.3
onnx==1.22.0
onnxruntime==1.23.2
h5py==3.16.0
sympy==1.14.0
torch==2.8
torchvision==0.23.0
torchinfo==1.8.0
tqdm==4.68.3
loguru==0.7.3
pytest==9.1.1

